:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.menusbg {
	font-size: large;
	position: relative;
	border-right: solid 1px #f1f1f1;
	height: 100vh;
}
.menusbg ul li {
	padding: 40px 0 0 0;
}
ul {
	list-style: none;
}
body {
	margin: 0;
	display: flex;
	place-items: top;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	transition: border-color 0.25s;
	cursor: none;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.card {
	padding: 2em;
}

#app {
	width: 100%;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #eeeeee;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(136, 136, 136);
	opacity: 0.5;
}

::-webkit-scrollbar-track {
	background-color: #242424;
}

.box-snaps {
	height: 100%;
	flex: none;
	transition: all 1s cubic-bezier(0.34, -0.6, 0.515, 1.57);
	padding: 15px 0;
}
.box-snaps-wrap {
	display: flex;
	flex: none;
	width: 100%;
	height: 100vh;
	flex-flow: column nowrap;
}

.box-snaps-old {
	transition: all 1s;
	height: 100%;
	scroll-snap-align: start;
	flex: none;
}
.box-snaps-wrap-old {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-flow: column nowrap;
	scroll-snap-type: y proximity;
	overflow: hidden;
}

.holster .holster-in-box {
	padding: 0 80px;
}

a:hover,
a.router-link-active {
	border-bottom: 2px solid #d3d3d3;
}
