:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: #e9ebec;
	background-color: #252b33;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* 색상 테마 InVision */
	--light1: #e9ebec;
	--light2: #d4d7da;
	--grey: #8a959e;
	--darkgrey: #323a45;
	--blue: #2f7bbd;
	--black: #252b33;
	--red: #ff3366;
}

.menusbg {
	font-size: large;
	position: relative;
	border-right: solid 1px var(--light1);
	height: 100vh;
}
.menusbg ul li {
	padding: 40px 0 0 0;
}
ul {
	list-style: none;
}
body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	width: 100%;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--light1);
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--darkgrey);
	opacity: 0.5;
}

::-webkit-scrollbar-track {
	background-color: var(--black);
}

::-webkit-scrollbar-button {
	background-color: var(--darkgrey);
}

.box-snaps {
	width: 91vw;
	height: 100%;
	flex: none;
	transition: all 1s cubic-bezier(0.34, -0.6, 0.515, 1.57);
	padding: 15px 60px;
}
.box-snaps-wrap {
	display: flex;
	flex-direction: column;
	width: 97vw;
	height: 100vh;
}

a:hover,
a.router-link-active {
	border-bottom: 2px solid var(--light1);
}

.content {
	min-width: 500px;
	position: relative;
}

.holster {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;
}

a {
	font-weight: lighter;
	color: var(--light1);
	text-decoration: none;
	margin-right: 1.4em;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease-out;
}

/* 마우스 커서 따라다니는 효과 */
html {
	cursor: none;
}
#drawing_line {
	position: relative;
	z-index: 1500;
	height: 0;
}
#drawing_line > svg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}
#drawing_line > svg .drawing_line_polyline {
	fill: none;
	stroke: var(--light1);
	stroke-width: 2;
}
#drawing_line > svg .drawing_line_circle {
	fill: var(--light1);
}

.scroll-down-box {
	font-size: medium;
	opacity: 0;
}
.scroll-down {
	transform: translate(0, 4);
	padding-top: 2px;
	text-align: center;
	align-content: center;
}
.dl {
	background-color: var(--light1);
	width: 0;
	height: 2px;
	margin: 40px 0 22px 0;
}
.home1-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}
.home1-snaps {
	width: 100vw;
	flex: none;
	font-size: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}

.a {
	width: 100px;
	height: 100px;
	background-color: var(--light1);
	margin-bottom: 17px;
	margin-left: 10px;
}
.secense-wrap .front {
	position: absolute;
	color: var(--light1);
}
.secense-wrap {
	color: var(--darkgrey);
	position: absolute;
	font-size: 28px;
}

.secense,
.front {
	height: 50px;
}

.color-white {
	color: var(--light1) !important;
}

.inactive {
	display: none;
}

.menus-icon-wrap {
	display: flex;
	justify-content: end;
}
.menus-icon-wrap img {
	width: 2vw;
	height: 4vh;
	padding: 11px 10px 0 0;
}

.list {
	font-size: 3.2rem;
	color: var(--light1);
	background-color: var(--black);
	padding: 8px 4px 5px 4px;
	height: 80px;
	border-bottom: solid 1px var(--light1);
	opacity: 0;
	transform: translateY(20px);
}

.list:hover {
	background-color: var(--light1);
	color: var(--black);
	transition: 0.2s ease-in-out;
	animation-iteration-count: 1;
}

.home-3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
